[[source]]
name = "pypi"
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
devtools = "*"

[packages]
aiohttp = "*"
pydantic = "*"
pillow = "*"

[requires]
python_version = "3.8"
